{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}
<div class="modal fade" id="filediv" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div >
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">File Browser</h4>
                </div>
            </div>
            <div class="panel-default panel-files">
                {{#unless hideUpload}}
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    {{#unless uploadSelected}}
                                        <span>
                                            <button type="button" class="btn btn-default" {{action "uploadSelect"}} disabled={{isFilePathInvalid}}>Upload File</button>
                                        </span>
                                    {{/unless}}
                                    {{#if uploadSelected}}
                                        <span class="">
                                            <span class="file-upload-control">
                                                {{file-upload url="/upload" selectedPath=selectedPath uploadFailure="uploadFailure" uploadSuccess="uploadSuccess" uploadValidation="uploadValidation"}}
                                            </span>
                                            <button type="button" class="close-icon" {{action "closeUpload"}}>x</button>
                                        </span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/unless}}
                <div class="panel-body">
                    <div>
                        <div class="directory-viewer-wrap hdfs-browse">
                            {{#directory-viewer
                                    config=config
                                    errorAction="viewerError"
                                    pathSelectAction="viewerSelectedPath"
                                    uploaderService=uploaderService
                                    width=850

                            }}{{/directory-viewer}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-2">
                        <label class="control-label">Selected Path</label>
                    </div>
                    <div class="col-xs-6">
                        {{input name="selectedPath" class="form-control" type="text" value=selectedPath}}
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" {{action "selectFile"}}>Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
