{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}
<div class="left-menu">
  {{#link-to tabs.homeIcon.link tagName="div" href=false class="project-header"}}
    <img src="/assets/images/{{tabs.homeIcon.icon}}" alt="imgtxt" height="32"/>
    {{#if showMenuLabel}}{{{tabs.homeIcon.projectname}}}{{/if}}
  {{/link-to}}
  <ul class="list-group">
    {{#each tabs.leftMenuTabs as |tab|}}
        {{#if tab.sub-menu}}
            <li class="list-group-item sub-menu menu-{{tab.link}}" >
                <i class="fa fa-caret-right left-green-arrow pull-left hide" aria-hidden="true"></i>
                {{#link-to tab.link tagName="span" href=false class="main" invokeAction=(action 'setRouteParam' tab)}}
                    <a {{bind-attr href="view.href"}}>
                        <span class="menu-icon">
                           <i class="fa fa-{{tab.fa-icon}}" aria-hidden="true"></i>
                        </span>
                        {{#if showMenuLabel}}
                            <span class="menu-label">{{tab.name}}</span>
                        {{/if}}
                    </a>
                {{/link-to}}
                <i class="fa fa-angle-up fa-stack-lg pull-right hide" aria-hidden="true"  {{action 'toggleSubMenu' tab}} style="position:relative;bottom:25px;color:white;right:10px;"></i>
                <i class="fa fa-angle-down fa-stack-lg pull-right " aria-hidden="true"  {{action 'toggleSubMenu' tab}} style="position:relative;bottom:25px;color:white;right:10px;"></i>
                <ul class="list-group hide {{tab.link}}">
                    {{#each tab.sub-menu as |innerTab|}}
                        <li class="list-group-item menu-{{innerTab.link}}">
                            <i class="fa fa-caret-right left-green-arrow pull-left hide" aria-hidden="true"></i>
                            {{#link-to innerTab.link  tagName="span" href=false class="sub-menu-items" invokeAction=(action 'setRouteParam' innerTab)}}
                                <a {{bind-attr href="view.href"}}>
                                    <span class="menu-icon">
                                       <i class="fa fa-{{innerTab.fa-icon}}" aria-hidden="true"></i>
                                    </span>
                                    {{#if showMenuLabel}}
                                        <span class="menu-label">{{innerTab.name}}</span>
                                    {{/if}}
                                </a>
                            {{/link-to}}
                        </li>
                    {{/each}}
                </ul>
            </li>
        {{else if (and (not-eq isDPLite true) (eq tab.name "Reports"))}}
        {{else}}
                <li class="list-group-item menu menu-{{tab.link}}">
                    <i class="fa fa-caret-right left-green-arrow pull-left hide" aria-hidden="true"></i>
                    {{#link-to tab.link tagName="span" href=false class="main" invokeAction=(action 'setRouteParam' tab)}}
                        <a {{bind-attr href="view.href"}}>
                            <span class="menu-icon">
                               <i class="fa fa-{{tab.fa-icon}}" aria-hidden="true"></i>
                            </span>
                            {{#if showMenuLabel}}
                                <span class="menu-label">{{tab.name}}</span>
                            {{/if}}
                        </a>
                    {{/link-to}}
                </li>
        {{/if}}
    {{/each}}
  </ul>
  <div class="menu-toggler {{toggler.toggler-class}} col-sm-2">
      <i class="fa {{toggler.fa-icon}} fa-2x" aria-hidden="true" {{action "toggleSlider"}}></i>
  </div>
</div>
